    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    body {
        background: #dadee5;
    }

    .title-center {
        margin: 50px 0;
        text-align: center;
    }

    .title-center h1 {
        font-size: 40px;
        color: #3A3F47;
        font-weight: 600;
    }

    .title-center .line {
        display: block;
        width: 100px;
        height: 3px;
        background-color: #6D2077;
        margin: auto;
        transition: all 0.5s ease-in-out;
    }

    .title-center .line:hover {
        width: 150px;
    }
    
    /*****************---------------- start page 1 ----------------*****************/

    /**------- start header -------**/
    .logo {
        width: 150px;
        height: 70px;
        line-height: 70px;
        position: relative;
    }

    .logo h1 {
        -webkit-text-stroke: 0.1rem black;
        -webkit-background-clip: text;
    }

    .logo h1::after {
        content: "";
        animation: text 3s linear infinite;
    }

    @keyframes text {
        25% {
            content: "N";
        }
        50% {
            content: "NI";
        }
        75% {
            content: "NIK";
        }
        100% {
            content: "NIKE";
        }
    }

    header {
        height: 70px;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    header ul {
        display: flex;
    }

    header li {
        list-style: none;
        display: inline-block;
        margin: 20px 22px 0 22px;
        padding: 10px 19px;
        position: relative;
        overflow: hidden;
        width: 92px;
        text-align: center;
        height: 46px;
    }

    header a {
        text-decoration: none;
        color: #6D2077;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 17px;
    }

    header ul li:hover span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #202020;
        animation: line1 1s linear infinite;
    }

    @keyframes line1 {

        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    header ul li:hover span:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background-color: #202020;
        animation: line2 1s linear infinite;
        animation-delay: 0.5s;
        z-index: 1;
    }

    @keyframes line2 {

        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(100%);
        }
    }

    header ul li:hover span:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #202020;
        animation: line3 1s linear infinite;
        z-index: 2;
    }

    @keyframes line3 {

        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    header ul li:hover span:nth-child(4) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: #202020;
        animation: line4 1s linear infinite;
        animation-delay: 0.5s;
        z-index: 3;
    }

    @keyframes line4 {

        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(-100%);
        }
    }

    header .icon1 {
        display: flex;
        margin-top: 30px;
    }

    header .icon1 i:hover {
        transform: scale(1.2);
        opacity: 0.5;
    }

    header .icon1 i {
        margin-left: 15px;
        font-size: 20px;
        transition: 1s;
    }

    .dot {
        width: 5px;
        height: 10px;
        border: 3px solid #6D2077;
        outline: 4px solid #6D2077;
        outline-offset: 3px;
        border-radius: 50%;
        font-weight: bold;
        display: block;
        margin: 10px;
    }

    header .icon1 h3 {
        text-transform: capitalize;
        margin-left: 8px;
        display: inline-block;
        font-size: 17px;
        color: #6D2077;
    }

    /**------- start table -------**/
    header .mega-menu {
        position: absolute;
        width: 50%;
        height: 350px;
        left: 0;
        padding: 0 30px;
        background-color: white;
        border-bottom: 3px solid #202020;
        border-top: 3px solid #202020;
        display: flex;
        gap: 40px;
        top: calc(100% + 50px);
        transition: top 0.5s, opacity 0.5;
        z-index: 100;
        border-radius: 20px;
        opacity: 0;
        z-index: -1;
    }

    header .mega-menu .link {
        display: flex;
        flex-direction: column;
    }

    header .mega-menu .link li {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header .mega-menu .link li:not(:last-child) {
        border-bottom: 1px solid #e9e6e6;
    }

    header .mega-menu .link li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #B0BEC5;
        z-index: -1;
        transition: 0.5s;
    }

    header .mega-menu .link li:hover::before {
        width: 100%;
    }

    header .mega-menu .link li a {
        color: #6D2077;
        font-size: 18px;
        font-weight: bold;
        display: flex;
    }

    header .mega-menu .link li i {
        margin-right: 10px;
    }

    .list:hover .mega-menu {
        top: calc(100% + 1px);
        z-index: 100;
        opacity: 1;
    }

    /**------- start section1 -------**/
    .section1 {
        height: 81vh;
        background-image: linear-gradient(to left bottom, #B0BEC5, #9d6a7e, #6D2077);
        padding: 0 100px;
        margin-top: 2%;
        z-index: 20;
        display: flex;
        justify-content: space-between;
    }

    .section1 .title {
        width: 40%;
        margin-top: 200px;
    }

    .section1 h1 {
        color: white;
        text-transform: capitalize;
        font-size: 45px;
        width: 90%;
        margin-bottom: 30px;
    }

    /**------- start cta button -------**/
    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
    }

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #38e798;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }

    .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #234567;
    }

    .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    .cta:hover:before {
        width: 100%;
        background: #b1dae7;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active {
        transform: scale(0.95);
    }

    /**------- start section1 .image -------**/
    .section1 .image {
        margin: 100px 0 0 0;
        position: relative;
    }

    .section1 .image img {
        width: 450px;
        height: 450px;
        animation: up-and-down 5s linear infinite;
        position: relative;
    }

    @keyframes up-and-down {

        0%,
        100% {
            top: 0;
        }
        50% {
            top: -50px;
        }
    }
    /*****************---------------- end page 1 ----------------*****************/


    /*****************---------------- start sidebar ----------------*****************/
    :root {
        --color-bg: #f4f6fa;
        --color-primary: #121926;
        --color-muted: #9fa4af;
        --color-hover: #B0BEC5;
    }

    h2,
    h3,
    ul {
        margin: 0;
    }

    .sidebar {
        position: fixed;
        overflow: hidden;
        top: 24px;
        bottom: 28px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 80px;
        border-radius: 18px;
        transition: 0.4s;
        background: #ffffff;
        z-index: 100;
    }

    .sidebar button {
        border: 0;
        background: transparent;
        font-size: 22px;
        color: inherit;
        border-radius: 8px;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
    }

    .left,
    .right {
        position: absolute;
        top: 0;
        bottom: 0;
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        z-index: 1;
        left: 0;
        width: 80px;
        background: #ffffff;
    }

    .left img {
        width: 40px;
        margin: 24px 0 28px;
    }

    .left button {
        width: 44px;
        height: 44px;
        display: grid;
        place-items: center;
    }

    .left button:hover {
        background: #dee1e2;
        color: #384251;
    }

    .left .end {
        position: absolute;
        bottom: 15px;
    }

    .right {
        left: 76px;
        height: 100%;
        position: relative;
    }

    .right-inner {
        position: absolute;
        inset: 8px;
        left: 4px;
        border-radius: 12px;
        background: var(--color-bg);
    }

    .right .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 24px 16px;
    }

    .right h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .right h3 {
        font-size: 12px;
        font-weight: 500;
        color: var(--color-muted);
    }

    .right nav {
        padding: 0 12px;
    }

    .right button i:last-child {
        opacity: 0;
        font-size: 16px;
        margin-left: auto;
        transition: 0.3s;
    }

    .right button {
        padding: 0 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 44px;
        font-size: 14px;
    }

    .right button:hover i:last-child {
        opacity: 1;
        color: var(--color-muted);
    }

    .right button:hover {
        background: var(--color-hover);
        color: #384251;
    }

    .sidebar:hover {
        width: 300px;
    }

    .sidebar:hover .right {
        width: 225px;
    }

    .submenu {
        position: relative;
        list-style: none;
        padding: 8px 0 8px 28px;
    }

    .submenu::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 20px;
        bottom: 8px;
        width: 1px;
        background: var(--color-muted);
    }

    .submenu li {
        white-space: nowrap;
        height: 36px;
        padding-left: 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 0.3s;
    }

    .submenu li:hover {
        background: var(--color-hover);
        color: #384251;
        cursor: pointer;
    }

    .submenu .badge {
        font-size: 10px;
        padding: 3px 5px;
        border-radius: 4px;
        background: var(--color-primary);
        color: #ffffff;
    }
    /*****************---------------- end sidebar ----------------*****************/


    /*****************---------------- start page 2 ----------------*****************/

    /**------- start box card -------**/
    :root {
        --green: #38e798;
        --violet: #7f6e82;
        --dark: #202020;
    }

    .box {
        display: flex;
        gap: 17px;
        height: 76vh;
        overflow: hidden;
        position: relative;
        animation: ani linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    @keyframes ani {
        from {
            opacity: 0;
            scale: 0;
            margin-left: 10%;
        }
        to {
            opacity: 1;
            scale: 1;
            margin-left: 0;
        }
    }

    .card {
        border-radius: 30px;
        width: 24%;
        height: 460px;
        background-color: var(--dark);
    }

    .basicInfo {
        background-color: #f5f5f5;
        border-radius: 30px;
        padding: 25px;
        position: relative;
    }

    .title .category,
    .title .info {
        font-weight: 600;
        font-size: x-small;
    }

    .title .name {
        font-weight: bold;
        font-size: large;
        padding-bottom: 3px;
    }

    .card .img {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .card .img img {
        width: 100%;
        transform: scale(1) rotate(20deg);
        transition: 0.5s;
        display: none;
    }

    .img input:checked+img {
        display: block;
    }

    .card .img::before {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #e7e7e7;
        border-radius: 50%;
        z-index: -2;
    }

    .card .img::after {
        position: absolute;
        content: "";
        width: 70%;
        height: 40px;
        bottom: 0;
        right: 30px;
        background-color: #000;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.2;
        filter: blur(10px);
        transition: 0.5s;
    }

    .img input {
        position: absolute;
        opacity: 0;
    }

    .colors {
        display: flex;
        font-size: xx-small;
        text-align: center;
    }

    .colors label {
        margin-right: 10px;
    }

    .colors .name {
        margin-bottom: 5px;
    }

    .colors .ellipse {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mores {
        padding: 25px;
    }

    .mores .stars,
    .mores .price {
        display: inline-block;
    }

    .mores .price {
        float: right;
        color: #eee;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .mores .stars {
        color: #9b9a9a;
    }

    .text-yellow {
        color: rgb(209, 209, 6);
    }

    .addCard {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .addCard i {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--green);
        color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        right: 90px;
        bottom: -25px;
        border: 5px solid var(--dark);
        transition: 0.5s;
        opacity: 0;
        transform: translate(0, 10px);
        cursor: pointer;
    }

    .addCard::after,
    .addCard::before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 47px;
        width: 47px;
        height: 33px;
        background-color: transparent;
        border-bottom-left-radius: 55%;
        box-shadow: 0 20px 0 0 var(--dark);
        opacity: 0;
        transform: translate(0, 20px);
        transition: 0.5s;
    }

    .addCard::after {
        right: unset;
        left: 107px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 55%;
    }

    .card:hover .img img {
        transform: scale(1.2) rotate(30deg) translate(10px, -20px);
    }

    .card:hover .img::after {
        width: 90%;
    }

    .card:hover .addCard i,
    .card:hover .addCard::after,
    .card:hover .addCard::before {
        opacity: 1;
        transform: translate(0, 0);
    }

    /**------- start Pictures -------**/
    .Pictures {
        display: flex;
        justify-content: space-between;
        animation: ani linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    .Pictures-info {
        width: 49%;
        height: 300px;
        padding: 0 20px 20px 20px;
        background: linear-gradient(to left, #202020, #7f6e82);
        position: relative;
    }

    .Pictures-info h2 {
        color: white;
    }

    .Pictures-info h3 {
        color: #38e798;
    }

    .Pictures-info p {
        font-size: 20px;
    }

    .Pictures-info i {
        font-size: 40px;
    }

    .Pictures-info .text {
        position: absolute;
        left: 70px;
        top: 20px;
    }

    .Pictures-info p {
        color: #dadee5;
        margin-top: 50px;
        line-height: 25px;
        font-weight: bold;
        word-spacing: 2px;
        text-align: justify;
    }

    .Pictures-info .line-color {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
    }

    .Pictures-info .line-color .hr {
        display: block;
        width: 50px;
        height: 4px;
        background-color: #38e798;
        margin-left: 15px;
        animation: bounce 0.8s ease infinite alternate;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-20px);
        }
    }

    .Pictures-info .line-color span:nth-child(1) {
        animation-delay: 0.1s;
    }

    .Pictures-info .line-color span:nth-child(2) {
        animation-delay: 0.2s;
    }

    .Pictures-info .line-color span:nth-child(3) {
        animation-delay: 0.3s;
    }

    .Pictures .Pictures-image1,
    .Pictures .Pictures-image2 {
        width: 24%;
        height: 300px;
        padding: 1em;
        background: url(../imag/text1.jpg) center / cover;
        transition: 1s;
    }

    .Pictures .Pictures-image2 {
        background: url(../imag/text2.jpg) center / cover;
    }

    .Pictures .Pictures-image1:hover,
    .Pictures .Pictures-image2:hover {
        transform: scale(1.1);
    }

    .Pictures .Pictures-image1 h2,
    .Pictures .Pictures-image2 h2 {
        color: #dadee5;
    }

    .Pictures .Pictures-image1 h3,
    .Pictures .Pictures-image2 h3 {
        color: #38e798;
    }

    /**------- start icon-row -------**/
    .icon-row {
        display: flex;
        justify-content: space-between;
        text-align: center;
        column-count: 5;
        column-rule: 3px solid #6D2077;
        margin: 100px 0;
        display: block;
    }

    .icon-row .show {
        height: 35px;
        font-size: 50px;
        transition: transform 0.3s ease;
        opacity: 0.5;
        color: #6D2077;
    }

    .icon-row .hidden {
        opacity: 0;
        transform: translateY(20px);
        color: #6D2077;
    }

    .icon-1:hover .show {
        transform: translateY(-70px);
        opacity: 0;
        transition: 0.5s;
    }

    .icon-1:hover .hidden {
        transform: translateY(-30px);
        opacity: 1;
    }

    .icon-1 h3 {
        color: #3A3F47;
        font-weight: bold;
    }
    /*****************---------------- end page 2 ----------------*****************/


    /*****************---------------- start page 3 ----------------*****************/
    .header-2 {
        margin-bottom: 70px;
    }

    .header-2 ul {
        display: flex;
        justify-content: center;
        gap: 35px;
    }

    .header-2 ul li {
        list-style: none;
    }

    .header-2 ul li a {
        text-decoration: none;
        color: #6D2077;
        font-weight: bold;
        font-size: 1.5em;

        &:hover {
            color: #3A3F47;
        }
    }

    .all-image {
        display: flex;
        justify-content: space-between;
        height: 75dvh;
        perspective: 1000px;
        animation: ani linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    .all-image img {
        width: 370px;
        height: 400px;
        background-size: cover;
        border-radius: 20px;
    }

    .all-image .flip-box {
        position: relative;
        width: 370px;
        height: 400px;
        display: inline-block;
    }

    .all-image .flip-box-linn {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .all-image .face,
    .all-image .back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .all-image .back {
        width: 370.3px;
    }

    .face,
    .back {
        position: absolute;
    }

    .all-image .back {
        transform: rotateY(180deg);
    }

    .flip-box:hover .flip-box-linn {
        transform: rotateY(180deg);
    }

    .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-22%, -30%);
        width: 100%;
    }

    .icons i {
        color: white;
        font-weight: bold;
        width: 40px;
        height: 40px;
        background-color: #3A3F47;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .icons a {
        text-decoration: none;
        display: inline-block;
    }

    .info-stars {
        position: absolute;
        bottom: -100px;
        left: 0;
    }

    .info-stars i {
        color: gold;
    }

    .info-stars h3 {
        text-transform: capitalize;
        color: #6D2077;
    }

    .info-stars h2 {
        color: #3A3F47;
    }

    /*****************---------------- end page 3 ----------------*****************/


    /*****************---------------- start page 4 ----------------*****************/
    .view {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        animation: ani linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    .view video {
        width: 49%;
        height: 400px;
        border-radius: 50px;
        background-image: linear-gradient(to left bottom, #9d6a7e, #6D2077);
        padding: 20px;
        margin-top: 5%;
    }

    .slid {
        background: linear-gradient(to left, #3A3F47, #202020);
        width: 49%;
        height: 400px;
        border-radius: 15px;
        padding: 20px;
        margin-top: 20%;
    }

    .slid img {
        width: 40px;
        height: 100%;
        border: 2px solid yellow;
        border-radius: 10px;
        object-fit: cover;
        transition: all ease-in-out 0.8s;
        cursor: pointer;
        margin: 0 3px;

        &:hover {
            filter: saturate(100%);
            width: 62.5%;
        }
    }
    /*****************---------------- end page 4 ----------------*****************/


    /*****************---------------- start footer ----------------*****************/
    footer {
        background: #3A3F47;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-content ul {
        margin-top: -30px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer-content ul li {
        list-style: none;
        margin: 0 15px;
    }

    .footer-content ul li a {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 30px;
        background-color: black;
        color: #666;
        border-radius: 50%;
        line-height: 60px;
        transition: 0.5s;
    }

    .footer-content li a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ffee10;
        transition: 0.5s;
        transform: scale(.9);
        z-index: -1;
    }

    .footer-content li a:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #ffee10;
    }

    .footer-content li a:hover {
        color: #ffee10;
        box-shadow: 0 0 5px #ffee10;
        text-shadow: 0 0 5px #ffee10;
    }

    footer h1 {
        position: relative;
        padding: 0 1rem;
        width: fit-content;
        font-size: 3rem;
        color: transparent;
        margin-top: 50px;
        -webkit-text-stroke: 0.1rem #38e798;
        background-image: linear-gradient(#38e798, #38e798);
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-background-clip: text;
        animation: animate 6s linear infinite;
        -webkit-animation: animate 6s linear infinite;
    }

    footer h1::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-right: 4px solid #38e798;
        animation: lineAnimate 6s linear infinite;
        -webkit-animation: lineAnimate 6s linear infinite;
    }

    @keyframes animate {

        0%,
        10%,
        100% {
            background-position: -50rem 0;
        }
        80%,
        90% {
            background-position: 0 0;
        }
    }

    @keyframes lineAnimate {

        0%,
        10%,
        100% {
            width: 0;
        }
        80%,
        90% {
            width: 100%;
        }
    }

    footer .footer-content {
        margin-left: 10%;
        opacity: 0;
        transition: 1s;
    }

    footer:hover .footer-content,
    footer:hover h1 {
        margin: 10px;
        opacity: 1;
    }

    footer h1 {
        margin-top: 10%;
        opacity: 0;
        transition: 1s;
    }
    /*****************---------------- end footer ----------------*****************/